<div class="body-for-car-list">

  <section class="section-car-item">
    <div class="left-container">
      <div class="car-item">
        <div class="car-item-info">
          <h2>Make: {{make}}</h2>
          <h2>Model: {{model}}</h2>
          <h2>Year: {{year}}</h2>
          <h2>Price: ${{format_amount price}}</h2>
          <p>Description: {{description}}</p>
        </div>
      </div>
      {{#if logged_in}}
      <div class="buy">
        <form action="/success" method="GET">

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_51MTxWlJ6ot15kLDDB1g7WVmdu2Jgqw7IjV6LFj8qroeyDBmxwJARSQccbVbcaxTB6rTWpGmj5guZ4xVPf7Zw4bZ700Z9BeQDuu"
            data-amount="{{format_deposit_amount price}}" data-name="Deposit for your Model"
            data-description="Use '4242 4242 4242 4242' for card #" data-image="/img/icon.png"
            data-locale="auto">
            </script>

          <script>
            // Hide default stripe button
            document.getElementsByClassName('stripe-button-el')[0].style.display = 'none';
          </script>

          <button data-id={{id}} onclick="delButtonHandler();" type="submit" id="deletethis" class="deletethis">Pay
            ${{format_deposit price}} Deposit to Buy Now!</button>
        </form><br>
        <!-- test button -->

      </div>
      {{else}}
      <div class="buy">

        <a href="/login" class="buy-now">Login to Purchase!</a>

      </div>
      {{/if}}
    </div>

    <div class="right-container">
      <div class="first-picture">
        <a href="/images/{{pictureId}}/1.jpg"><img src="/images/{{pictureId}}/1.jpg"></a>
      </div>
      <div class="car-item-image-thumbnails">
        <a href="/images/{{pictureId}}/2.jpg">
          <div class="other-picture"><img src="/images/{{pictureId}}/2.jpg"></div>
        </a>
        <a href="/images/{{pictureId}}/3.jpg">
          <div class="other-picture"><img src="/images/{{pictureId}}/3.jpg"></div>
        </a>
        <a href="/images/{{pictureId}}/4.jpg">
          <div class="other-picture"><img src="/images/{{pictureId}}/4.jpg"></div>
        </a>
        <a href="/images/{{pictureId}}/5.jpg">
          <div class="other-picture"><img src="/images/{{pictureId}}/5.jpg"></div>
        </a>
      </div>
  </section>

  <section class="section-comments">
    <div class="commentbtn">
      {{#if logged_in}}
      <div class="comment-input">
        <form class="comment-form form-inline" data-carId={{id}} data-user_name="{{req.session.userName}}">
          <textarea id="comment-box" placeholder="Comment here" rows="3" type="text">
          </textarea>
          <button type="submit" id="submit-comment" class="submit-comment">Submit</button>
        </form>

        {{else}}
        <a href="/login" class="login-comment wide">Login to comment</a>
        {{/if}}
      </div>
    </div>

    <div class="comment-box">
      <h2>Comments: {{comments.length}}</h2>

      {{#if comments.length}}

      {{#each comments as |comment|}}
      <div class="comment">
        <div class="comment-user">
          <h3>{{comment.user_name}}</h3>
          <h4>{{format_date comment.date_created}}</h4>
        </div>
        <div class="comment-text">
          <h4>{{comment.message}}</h4>
        </div>
      </div>
      {{/each}}
      {{/if}}
    </div>

  </section>

</div>
<script src="/js/profile.js"></script>
<script src="/js/comment.js"></script>