<div class="body-for-car-list">
    <div class="divider">
        <img src="/images/logo2.png" alt="hero image" class="hero-image">
    </div>

    <section class="section-car-list">

        {{#each cars as |car| }}
        <div class="car-list-item">
            <div class="car-list-item-image">
                <a href="/car/{{id}}"><img src="/images/{{id}}/1.jpg" alt="model and year"></a>
            </div>
            <div class="car-list-item-info">
                <h2>{{year}} {{make}} {{model}}</h2>
                <h3>{{mileage}} Kms</h3>
                <h4>{{description}}</h4>
                <h2>$ {{format_amount price}}</h2>
            </div>
        </div>
        {{/each}}


    </section>
</div>